
@{
    Layout ="~/Views/shared/_Layout.cshtml";
}
    <div>
        <p>
            @Html.ActionLink("Create New Customer", "Create", "EntityCustomer", null, new { @class="btn btn-success"})
        </p>
        <p>
            @Html.ActionLink("Create New Occupation", "Create", "EntityOccupationGroup", null, new { @class = "btn btn-success" })
        </p>
    
    </div>
