
@{
    Layout ="~/Views/shared/_Layout.cshtml";
}
    <div>
        <p>
            @Html.ActionLink("Create New Customer", "Index", "EntityCustomer")
        </p>
        <p>
            @Html.ActionLink("Create New Occupation", "Index", "EntityOccupationGroup")
        </p>
    
    </div>
